{% extends "poemgen/base.html" %}
{% block content %}
<h2> Generált versek:</h2>
<article class="media content-section">    
    <table>
        {% for item in poems %}
        <tr>
            <th>Megadott szó:</th>
            <td>{{item.title}}</td>
        </tr>
        <tr> 
            <th>Generált vers:</th>
            <td> {{item.text}} </td>
        </tr>
        {% endfor %}
    </table>
</article>
    <div class="buttons">
        <a href="/generator" class="btn btn-default btn-default active" role="button">Új vers generálása</a>
    </div>
{% endblock content %}